.auth-dialog {
  text-align: center;
}

.auth-dialog-actions {
  display: flex;
  flex-direction: column;
}

.link-register {
  text-decoration: none;
  margin: 0 3px;
}

.link-reset-password {
  text-decoration: none;
  margin: 0 0 16px !important;
}

.btn-submit {
  margin: 16px 0 !important;
}
