body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #00bcd4;
  --secondary: #ff9800;
  --success: #4caf50;
  --error: #f44336;
  --gray: #424242;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: var(--secondary);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}
.bg-success {
  background-color: var(--success);
}

.w-100 {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.fw-500 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
